@{
    ViewData["Title"] = "Home Page";
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/homePage.css" />
}

<div class="container">

    <a class="btn btn-outline-success btn-lg" asp-action="Create">Create forum</a>


</div>
